.settings
.classpath
.project
target
xml-apis
xerces
xalan
oro
uk
org
net
junit
commons-lang
commons-logging
de
commons-validator
jaxen
dom4j
commons-cli
commons-io
commons-collections
commons-codec
commons-digester
commons-beanutils
bsh
classworlds
antlr
backport-util-concurrent
.idea
*.iml
